.white {
  background-color: white;
}

#appReserve {
  z-index: 1;
}

#navbar {
  z-index: 1;
  padding: 0px 16px 4px 16px;
}

#overviewModule {
  margin-bottom: 0px;
}

#menusModule {
  margin-bottom: 50px;
}